@import "../../../styles/global-imports";

.menu {
  background: center no-repeat;

  @include onDesktop {
    display: none;
  }

  &__content--top {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__open,
  &__close {
    width: 32px;
    height: 32px;

    cursor: pointer;
    background: none;

  }

  &__open {
    background: url("../../../images/icons/menu-burger.svg") no-repeat center;
  }

  &__close {
    background: url("../../../images/icons/icon-close.svg") no-repeat center;

    position: absolute;
    right: 13%;
    margin-top: 2vw;
  }

  &__content {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: $c-white;
    z-index: 1000;
    opacity: 0;

    animation: fadeIn 0.3s forwards;

    &.isActive {
      display: block;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &__list {
    margin-top: 20vw;
    position: relative;
    display: flex;
    align-items: center;
    grid-gap: 10vw;
    gap: 10vw;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: center;

    @extend %uppercase;
  
    &--link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1vw;
      font-size: 7vw;
      line-height: normal;
      width: 98vw;

      transition: all $effect-duration;
      color: $c-secondary;
    }

    &-action {
      position: relative;

      &-length {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 3vw;
        height: 3vw;
        border-radius: 100%;
        background-color: $c-red;
        color: $c-white;

        font-size: 3vw;
      }
    }

    &--link {
      &-active {
        color: $c-primary !important;
      }
    }
  }

  &__switch_theme {
    cursor: pointer;

    margin-top: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4vw;

    background: transparent;

    &_title {
      @extend %uppercase;
      font-size: 5vw;
      color: $c-primary;
    }
  }

  &__switch {
    width: 54px;
    height: 26px;
    background-color: $c-primary;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 6px;
    cursor: pointer;
    align-items: center;

    &[data-isOn="true"] {
      justify-content: flex-end;
    }

    &_handle {
      position: relative;
      width: 24px;
      height: 24px;
      background-color: $c-white;
      border-radius: 40px;
      
    }
  }  
}

.dark {
  .menu {
    &__content {
      background-color: $background-dark;
    }

    &__open {
      background-image: url("../../../images/icons/menu-burger-white.svg");
    }
    
    &__close {
      background-image: url("../../../images/icons/icon-close-white.svg");
    }

    &__item {
      &--link {
        color: $c-elements;

        &-active {
          color: $c-secondary;
        }
      }
    }

    &__switch_theme_title {
      color: $c-white;
    }
  }
}