$c-primary: #313237;
$c-secondary: #89939a;
$c-grey: #5d5d5d;
$c-icons: #b4bdc3;
$c-elements: #e2e5e9;
$c-hover_bg: #fafbfc;
$c-white: #fff;
$c-green: #27ae60;
$c-red: #eb5757;

$background-light: #fff;
$background-dark: #0d0d0d;
$c-black: #131314;


$arrow-image: url("../../images/icons/Arrow.svg");

$effect-duration: 0.3s;

$header-height: 64px;
$footer-height: 96px;
