@import "../../styles/global-imports";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid $c-elements;
  padding: 0 4vw;
  gap: 1vw;

  @include onTablet {
    justify-content: space-around;
  }

  &__navigation {
    display: flex;
    gap: 64px;
    margin: 0 10px;

    @include onTabletAndDesktop {
      margin: 0 24px;
    }
  }
}

.dark {
  .header{
    border-bottom: 1px solid $c-grey;
    background-color: $c-black;
  }
}
