@import "styles/global-imports";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-light;
  color: $c-primary;
  transition: all 0.3s ease;

  &.dark {
    background-color: $background-dark;
    color: $c-white;
  }

  &__section {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &-with-menu {
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $c-primary;
  border-radius: 4px;
}
